@import '~@angular/material/theming';
@import "../../../darktheme.scss";

@include mat-core();

.welcome {
  $primary: map-get($theme, primary);

  padding: 1em;
  height: 100%;
  background: url("../../../assets/background.png") no-repeat center center fixed;
  background-size: cover;

  color: $light-text;

  .message {
      margin-left: 20%;
      margin-top: 10%;
  }

  .entry {
      display: flex;
      align-items: center;
      margin-top: 10px;
  }

  button {
      margin-left: 50px;
  }
}
